@model ForumAPI.Services.BoardService.BoardModel

@{
    Layout = "BaseLayout";
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    <form method="post" action="~/boards/@Model.Alias">
        <label for="TopicHeader">Topic name:</label>
        <input type="text" name="TopicHeader">
        
        <label for="Text">Topic text:</label>
        <input type="text" name="Text">
        
        <label for="AdditionalPostInfos">Topic images urls:</label>
        <input type="text" name="AdditionalPostInfos">
        
        <input type="submit" value="post">
        <input hidden="true" type="text" name="BoardId" value="@Model.Id">
    </form>
</div>
@{
    foreach (var topic in Model.Topics)
    {
        <div class="header">
            <div>@topic.TopicHeader</div>
            <div>@topic.Id</div>
            <div><a href="~/boards/@Model.Alias/@topic.Id">Enter topic</a></div>
        </div>

        <div>
            @{
                var posts = topic.Posts?.Take(3);

                foreach (var post in posts)
                {
                    <div class="footer-posts">
                        <div>@post.Id</div>
                        <div>@post.Text</div>
                        <div></div>
                    </div>
                }
            }
        </div>
    }
}
</body>
</html>