@model ForumAPI.Services.BoardService.TopicModel

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
    
    <script>
    function sendFormData(httpMethod, url, formId)
    {
       let formData = new FormData(document.getElementById(formId));
       
       for (var value of formData.values()) {
          console.log(value);
       }
       
       let request = new XMLHttpRequest();
           fetch(url, {
               method: httpMethod,
               body: formData
           }).then(rs => {
               window.location.replace('@Url.Content("~")/boards/@Model.BoardAlias/@Model.Id');
           })
    }
    </script>
</head>
<body>
<h1>@Model.TopicHeader</h1>

@{
    var formCounter = default(int);
    
    foreach (var post in @Model.Posts)
    {
        <div>
            @post.Text
        </div>
        <form id="@formCounter-refactor-form">
            <input type="text" name="PostId" hidden="true" value="@post.Id">
            <label for="Text">Post Text:</label>
            <input type="text" name="Text">
            <label for="AdditionalPostInfo">Post images:</label>
            <input type="text" name="AdditionalPostInfo">
            <input type="button" value="Submit" onclick="sendFormData('PUT', '@Url.Content("~")/boards/@Model.BoardAlias/@Model.Id', '@formCounter-refactor-form')">
        </form>
        
        formCounter++;
    }
}
<form action="~/boards/@Model.BoardAlias/@Model.Id" method="post">
    <input type="text" name="TopicId" hidden="true" value="@Model.Id">
    <label for="Text">Post Text:</label>
    <input type="text" name="Text">
    <label for="AdditionalPostInfo">Post images:</label>
    <input type="text" name="AdditionalPostInfo">
    <input type="submit">
</form>
</body>
</html>