@model ForumAPI.Services.BoardService.TopicModel

<!DOCTYPE html>

<html>
<head>
    <title>title</title>

    <script> 
    function sendRequestAndRedirect(httpMethod, url, urlToRedirect, body)
    {
         let request = new XMLHttpRequest();
           fetch(url, {
               method: httpMethod,
               body: body ?? ''
           }).then(rs => {
               window.location.replace(urlToRedirect);
           })
        }
    </script>
</head>
<body>
<h1>@Model.TopicHeader</h1>

@{
    var formCounter = default(int);

    foreach (var post in @Model.Posts)
    {
        <div>
            @post.Text
        </div>
        <form id="@formCounter-refactor-form">
            <input type="text" name="PostId" hidden="true" value="@post.Id">
            <label for="Text">Post Text:</label>
            <input type="text" name="Text">
            <label for="AdditionalPostInfo">Post images:</label>
            <input type="text" name="AdditionalPostInfo">
            <input type="button" value="Submit" onclick="sendRequestAndRedirect('PUT', '@Url.Content("~")/boards/@Model.BoardAlias/@Model.Id', '@Url.Content("~")/boards/@Model.BoardAlias/@Model.Id', new FormData(document.getElementById('@formCounter-refactor-form')))">
        </form>
        <div>
            <input type="button" value="Delete " onclick="sendRequestAndRedirect('DELETE','@Url.Content("~")/boards/@Model.BoardAlias/@Model.Id/@post.Id', '@Url.Content("~")/boards/@Model.BoardAlias/@Model.Id', undefined)">
        </div>

        formCounter++;
    }
}
<form action="~/boards/@Model.BoardAlias/@Model.Id" method="post">
    <input type="text" name="TopicId" hidden="true" value="@Model.Id">
    <label for="Text">Post Text:</label>
    <input type="text" name="Text">
    <label for="AdditionalPostInfo">Post images:</label>
    <input type="text" name="AdditionalPostInfo">
    <input type="submit">
</form>
</body>
</html>